* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ddd;
  background: linear-gradient(330deg, #1b1b1b, 70%, #676666);
}

.wrapper {
  width: 75vw;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
}

input,
select {
  margin-top: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: inherit;
  text-transform: uppercase;
}
.data-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
  margin: 2em 0 4em;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.box {
  display: flex;
  flex-direction: column;
}
.age {
  display: flex;
  flex-direction: column;
}

.btn-face-maker {
  position: relative;
  padding: 0.5em 1.5em;
  border: 3px solid #ddd;
  background-color: #333;
  border-radius: 5px;
  color: #ddd;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s 0.1s;
}
.btn-face-maker::after {
  content: '';
  position: absolute;
  top: -260%;
  left: -22%;
  height: 200px;
  width: 20%;
  rotate: 25deg;
  background-color: rgba(222, 222, 222, 0.4);
  transition: transform 0.3s;
}

.btn-face-maker:hover {
  background-color: rgba(
    222,
    222,
    222,
    0.4
  ); /* Twój pożądany kolor tła po najechaniu kursorem */
}
.btn-face-maker:hover.btn-face-maker::after {
  transform: translateX(700%);
}
.photo-result{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;

}

.photo{
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
 max-width: 30vw;
  border-radius: 10%;
  clip-path: auto;
}

@media(max-width: 990px){
  input, select{
    margin: 0.5em 0;
  }
 .data-container{
  margin-bottom: 1em;
  align-items: start;
  flex-direction: column;
 }
.btn-face-maker{
  display: block;
  margin: 1em auto 0;
}
.photo{
   max-width: 75vw;
}
}